@use "./variables.scss" as *;

// put your custom CSS here!
a, a:visited, a.internal, a.external {
  color: #C4B5FD !important;
  background: none !important;
  text-decoration: underline;
}

a:hover {
  color: #6e89f8 !important;
  opacity: 0.85;
}

.graph-container {
  display: none;
}
