@use "./variables.scss" as *;

// put your custom CSS here!
a, a:visited, a.internal, a.external {
  color: #1E293B !important;
  background: none !important;
  text-decoration: underline;
}

a:hover {
  color: #334155 !important;
  opacity: 0.85;
}
